                                    * {
                                        margin: 0;
                                        padding: 0;
                                        box-sizing: border-box;
                                    }
                                    
                                    body {
                                        font-family: 'Noto Sans JP', sans-serif;
                                    }
                                    
                                    .banner {
                                        width: 100%;
                                        height: 100vh;
                                        background-image: url(../img/hilltop-hero.jpg);
                                        background-repeat: no-repeat;
                                    }
                                    
                                    .contact_info {
                                        position: absolute;
                                        right: 60px;
                                        color: #c29039;
                                        background-color: white;
                                        padding: 2px 4px;
                                        border-radius: 0 0 10px 10px;
                                    }
                                    
                                    .data ul li a {
                                        text-decoration: none;
                                    }
                                    
                                    .menu {
                                        margin: 30px 0 0 110px;
                                    }
                                    
                                    .menu ul li {
                                        padding-left: 20px;
                                    }
                                    /* .menu ul li a:hover {
                                background-color: white;
                                color: #c29039;
                            } */
                                    
                                    .menu ul li a {
                                        text-decoration: none;
                                    }
                                    
                                    .enquiry a {
                                        background-color: #c29039;
                                    }
                                    
                                    .logo {
                                        width: 15%;
                                        height: 15%;
                                        border-radius: 50%;
                                    }
                                    
                                    .logo img {
                                        width: 100%;
                                    }
                                    
                                    .enquiry {
                                        background-color: white;
                                        position: absolute;
                                        bottom: 50px;
                                        left: 50px;
                                    }
                                    
                                    .about h1 {
                                        color: #c29039;
                                    }
                                    
                                    .about p {
                                        color: gray;
                                    }
                                    
                                    .accomodation {
                                        color: gray;
                                    }
                                    
                                    .facility {
                                        background-color: rgb(217, 217, 245);
                                    }
                                    
                                    .read a {
                                        background-color: #c29039;
                                    }
                                    
                                    .s {
                                        width: 150px;
                                        height: 150px;
                                        border: 2px solid gray;
                                        color: gray;
                                        padding: 30px;
                                        margin: 30px;
                                        background-color: rgb(217, 217, 245);
                                    }
                                    
                                    .booking {
                                        background-color: rgb(217, 217, 245);
                                    }
                                    
                                    .booking a {
                                        background-color: #c29039;
                                    }
                                    
                                    .prev,
                                    .next {
                                        margin: 10px;
                                        width: 50px;
                                        height: 50px;
                                        border: 1px solid gray;
                                        color: #c29039;
                                    }
                                    
                                    .prev:hover {
                                        border: 2px solid black;
                                    }
                                    
                                    .next:hover {
                                        border: 2px solid black;
                                    }
                                    
                                    .social div {
                                        width: 50px;
                                        height: 50px;
                                        border: 2px solid white;
                                    }
                                    
                                    .address_info {
                                        background-color: #c29039;
                                    }
                                    /* stay.html */
                                    
                                    .stay {
                                        background-image: url(../img/stay_banner.jpeg);
                                        background-repeat: no-repeat;
                                        height: 100vh;
                                        background-size: cover;
                                    }
                                    
                                    .stay_about h1,
                                    .photos h1 {
                                        color: #c29039;
                                    }
                                    
                                    .stay_about p,
                                    .photos p {
                                        color: gray;
                                        font-size: 20px;
                                    }
                                    
                                    .service {
                                        color: gray;
                                    }
                                    /* gallary.html */
                                    
                                    .gallary {
                                        background-image: url(../img/gallary_banner.jpeg);
                                        background-repeat: no-repeat;
                                        background-size: cover;
                                        height: 100vh;
                                    }
                                    /* contact.html */
                                    
                                    .contact_page h1 {
                                        color: #c29039;
                                    }
                                    /* Responsive */
                                    
                                    @media only screen and (max-width:428px) {
                                        nav {
                                            display: none;
                                        }
                                        .enquiry input {
                                            margin: 10px 0;
                                            width: 50%;
                                        }
                                        .enquiry {
                                            bottom: 0;
                                            left: 0;
                                            text-align: center;
                                        }
                                        .enquiry select {
                                            width: 50%;
                                        }
                                        .logo {
                                            width: 100%;
                                            height: 15%;
                                            margin-top: 32px;
                                            border-radius: 50%;
                                        }
                                        .accomodation .row {
                                            flex-direction: column;
                                        }
                                        .services {
                                            overflow: auto;
                                            white-space: nowrap;
                                        }
                                    }